.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;

  .infoPic {
    height: 120px;
    //width: 120px;
    margin-bottom: 20px;
  }

  h2 {
    margin: 0 0 8px;
  }

  p {
    text-align: center;
    color: #898989;
    margin: 0 0 40px;
  }

  .greenButton {
    //composes: greenButton from 'src/index.scss';
    position: relative;


    &:hover {
      img {
        transform: rotateY(180deg) translateX(5px);
      }
    }

    img {
      position: absolute;
      transform: rotateY(180deg);
      left: 30px;
      top: 22px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  max-width: 360px;
  background: #9DD558;
  border-radius: 18px;
  border: 0;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: lighten(#9DD558, 5%);
  }

  &:disabled {
    background: #bebebe;
    cursor: default;
    animation: button-loading 0.8s ease-in-out infinite;
  }


  &:active {
    background: darken(#9DD558, 5%);

  }
}